{% extends 'base.html' %}
{% block content %}
<h1>Toko Camera</h1>

<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>
    {% endblock content %}

    {% if not product_entries %}
    <p>There are no products available in the shop.</p>
    {% else %}
    <table>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Stock</th>
      </tr>
    
      {% for product_entry in product_entries %}
      <tr>
        <td>{{product_entry.name}}</td>
        <td>{{product_entry.price}}</td>
        <td>{{product_entry.description}}</td>
        <td>{{product_entry.stock }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    <br />
    
    <a href="{% url 'main:create_camera_entry' %}">
      <button>Add Product</button>
    </a>
    
    {% endblock content %}